.bordeRojo
{
  border:1px solid red ;

}
.bordeAzul
{
  border:1px solid blue;

}
.bordeVerde
{
  border:1px solid green ;

}

.bordeRojo
{
  border:1px solid red ;

}
.bordeAzul
{
  border:1px solid blue;
}
  .bordeBlanco
  {
    border:1px solid white;

}
.bordeVerde
{
  border:1px solid green ;

}
.posicionFija{
  position:fixed;
}
.AnchoPagina{
  height:200px!important;
}
.fondoAmarillo{
  background: #f67800;
  color:white;
}
.fondoBlanco{
  background: white;
  color:black;
}
.fondoNegro{
  background:black;
  color:white;
}
/*.posicionFija{
  position:fixed;
}*/
.opacidad{
  opacity:.3;
}

.imgFondo{
  background-image:url(../img/taxi.jpg);
  padding: 30em;
  padding-right: 0px;

}

.tamanoContenedorImg
{
  height: inherit;
}
.posicion{
  position:relative;
  bottom: 50em;
}
.anchoTotal{
  width: 100%;
}
.margen{
  margin:5em;
}
